#!/usr/bin/env python
# vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4

"""
@author      : {{NAME}} ({{EMAIL}})
@file        : {{FILEE}}
@created     : {{TIMESTAMP}}
@licence     : {{LICENSE}}
@description : Python source code - replace this with a description of the code
               and write the code below this text.
"""

{{CURSOR}}
